<h1>Books</h1>
<% @books.each do |book| %>
  <p>UserImage:<%= book.user.name %></p>
  <%= link_to post_image_path(post_image.id) do %>
    <p>Title:<%= book.title %></p>
  <% end %>
  <p>Opinion:<%= book.body %></p>
<% end %>