<h1>Books</h1>
<% @books.each do |book| %>
  <p>User Image:<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <%= link_to book_path(book.id) do %>
    <p>Title:<%= book.title %></p>
  <% end %>
  <p>Opinion:<%= book.body %></p>
<% end %>