<h1>Book detail</h1>
<div class="post-body">
  <h2>Title</h2>
  <p><%= @book.title %></p>
  <h2>Opinion</h2>
  <p><%= @book.body %></p>
  <p><%= link_to edit_book_path(book.id) %></p>
  <p><%= link_to destroy_book_path(book.id) %></p>
</div>